@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #000000;
}

div#centering {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1#title {
  font-weight: 900;
  font-size: 6em;
}

p#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: .65em;
  text-align: center;
  opacity: 50%;
}

p#policy {
  width: 40%;
  line-height: 2em;
  text-align: justify;
}

a#policygoback {
  font-size: 1.5em;
}
